 <div class="container">
        <table class="centered striped responsive-table">
            <thead>
                <tr>
                    <th data-field="fullname">Full Name</th>
                    <th data-field="username">User Name</th>
                    <th data-field="email">Email</th>
                    <th data-field="bio">Biography</th>
                    <th data-field="reputation">Reputation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>.00</td>
                </tr>
            </tbody>
        </table>
  </div>