extends ../layouts/default

block content
    .container
    br
    |     
    h5(href='#trending') Trending Reviews
    |     
    hr
    |     
    .row
        .col.s12.m6
            .card.grey.darken-1
                .card-content.white-text
                span.card-title Kraft Mac &amp; Cheese
                |                     
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    | mi vitae est. Mauris placerat eleifend leo.
                |                 
                .card-action
                a(href='#') Read More...
        |         
        .col.s12.m6
            .card.grey.darken-1
                .card-content.white-text
                span.card-title Call of Duty WWII
                |                     
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    | mi vitae est. Mauris placerat eleifend leo.
                |                 
                .card-action
                a(href='#') Read More...
        |         
        .col.s12.m6
            .card.grey.darken-1
                .card-content.white-text
                span.card-title Kraft Mac &amp; Cheese
                |                     
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    | mi vitae est. Mauris placerat eleifend leo.
                |                 
                .card-action
                a(href='#') Read More...
        |         
        .col.s12.m6
            .card.grey.darken-1
                .card-content.white-text
                span.card-title Call of Duty WWII
                |                     
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    | mi vitae est. Mauris placerat eleifend leo.
                |                 
                .card-action
                    a(href='#') Read More...
    |     
    .row
        h5(href='#recent') Recent Reviews
        |         
        hr
        |         
        .row
        .col.s12.m6
            .card.grey.darken-1
                .card-content.white-text
                    span.card-title Kraft Mac &amp; Cheese
                    |                         
                    p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    | mi vitae est. Mauris placerat eleifend leo.
            |                     
            .card-action
                a(href='#') Read More...
        |             
        .col.s12.m6
            .card.grey.darken-1
                .card-content.white-text
                    span.card-title Call of Duty WWII
                    |                         
                    p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    | mi vitae est. Mauris placerat eleifend leo.
                |                     
                .card-action
                     a(href='#') Read More...
