        <form>
          <div class="input-field col s12 l6">
            <input type="text" id="first_name" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12 l6">
            <input type="text" id="last_name" class="validate">
            <label for="last_name">Last Name</label>
          </div>
          <div class="input-field col s12">
            <input type="email" id="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </form>