.col.s12.m6
    .card.grey.darken-1
        .card-content.white-text
            span.card-title Kraft Mac &amp; Cheese
            |                     
            p
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                | mi vitae est. Mauris placerat eleifend leo.
            |                 
            .card-action
                a(href='#') Read More...