html {
    color: grey;
    margin: 0;
    padding: 0;
}

.brand-logo {
    color: grey;
}

.profile-photo {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-color: darkgrey;
    border-bottom-width: 3px;
}